<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DirectionsInformation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DirectionsInformation.Properties.Settings>
            <setting name="Points" serializeAs="String">
                <value>Chicago;New York;Philadelphia;Seattle;Dallas;Los Angeles;San Francisco;Miami</value>
            </setting>
            <setting name="Timers" serializeAs="String">
                <value>8:00;15:00;19:00</value>
            </setting>
        </DirectionsInformation.Properties.Settings>
    </userSettings>
</configuration>